<!-- {% extends 'base.html' %}


    {% block content %}
    <div class="container">
    <h1>Here you submit a new job</h1>

        <form class = "form" method="post" **action="api"**>
            <label for="Company">Company Name:</label>
            <input type="text" value="{{ user.username }}" name="Company" id="Company">
            <br>
            <label for="position">Position:</label>
            <input type="text" name="position" placeholder="e.g Web Developer">
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>



    {% endblock %} -->